# AWS Configuration
AWS_REGION=me-south-1
S3_BUCKET=aws-cloudtrail-logs-124737196430-56a3b94b

# Processing Configuration
PROCESSING_INTERVAL=300  # seconds (5 minutes)

# Grafana Configuration
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=895674
